@import "~styles/variables";


.wrapper {
  background-image: url('assets/images/map.png?size=1600');
  background-position: 50%;
  background-size: cover;
  min-height: 100vh;


  .max-width{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin:  0 auto;
    max-width: 1440px;
  }

}

.min-height{
  min-height: 500px;
}

.image-col{
  display: flex;

  @include media-breakpoint-down(xs) {
    display: none;
  }
}


.image-wrapper {
  @extend .min-height;
  display: inline-block;
  margin: 0 auto;
  position: relative;
}

.image {
  max-width: 340px;

  @include media-breakpoint-down(md) {
    max-width: 280px;
    margin-bottom: 80px;
  }
}

.image1 {
  @extend .image;
  margin-left: -20%;
  margin-top: 20%;
  position: absolute;
}

.image2 {
  @extend .image;
  margin-left: 20%;
  position: relative;
}

.subtitle span {
  color: #000000;
  font-size: 28px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.description span {
  color: #000000;
  font-size: 18px;
  letter-spacing: 1.5px;
  line-height: 32px;
}

.sign-up-button {
  background: #ffffff;
  border-radius: 100px;
  border: 3px solid $equi-orange;
  color: #ED6C44;
  color: $equi-orange;
  cursor: pointer;
  font-size: 24px;
  letter-spacing: 0.8px;
  padding: 12px 42px;
}
