// @font-face {
// 	font-family: "gravur-condensed-black";
// 	font-style: normal;
// 	font-weight: normal;
// 	src: url("./fonts/gravur-condensed-black.otf") format("opentype")
// }

// @font-face {
// 	font-family: "gravur-condensed-bold";
// 	font-style: normal;
// 	font-weight: bold;
// 	src: url("./fonts/gravur-condensed-bold.otf") format("opentype")
// }

// @font-face {
// 	font-family: "gravur-condensed-light";
// 	font-style: normal;
// 	font-weight: lighter;
// 	src: url("./fonts/gravur-condensed-light.otf") format("opentype")
// }

@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: normal;
	src: url("~assets/fonts/roboto/Roboto-Regular.ttf") format('truetype')
}

@font-face {
	font-family: "Roboto";
	font-style: bold;
	font-weight: bold;
	src: url("~assets/fonts/roboto/Roboto-Bold.ttf") format('truetype')
}
