@import "~styles/variables";

.wrapper {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  box-shadow: 10px 10px 26px 0 rgba(0,0,0,0.29);
  border-radius: 20px;
  padding: 40px 40px 20px 40px;
  margin: 0 20px;
  height: 100%;
  width: 370px;
}


.section {
  padding-bottom: 20px;
  border-bottom: 1px solid $equi-gray;
  margin-bottom: 20px;
}

.description {
  @extend .section;
  font-size: 18px;
  color: #000000;
  letter-spacing: 1.5px;
  line-height: 32px;
  min-height: 180px;
}

.info {
  @extend .section;
  flex-grow: 1;

  .name {
    display: block;
    font-size: 22px;
    color: #000000;
    letter-spacing: 1px;
  }

  .sub {
    display: block;
    margin-top: 5px;
    font-size: 12px;
    color: #666666;
    letter-spacing: 0.7px;
  }

}

.image {
  @extend .section;
  display: flex;
  justify-content: center;

  img {
    background: $equi-gray;
    height: 140px;
    width: 140px;
    border-radius: 140px;
  }
}
