@import '~styles/variables';

.wrapper {
  margin-top: -95px;
  align-items: center;
  background-image: url('assets/images/hero.png?size=1600');
  background-position: 50%;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 100vh;

  .max-width {
    max-width: 1440px;
  }
}

.title {
  text-align: center;
  font-size: 80px;
  color: #ffffff;

  @include media-breakpoint-down(xs) {
    font-size: 30px;
  }
}

.content {
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 2px;
  line-height: 45px;
  margin-top: 48px;
  max-width: 1000px;
  text-align: center;

  @include media-breakpoint-down(xs) {
    font-size: 24px;
  }
}
