@import "~styles/variables";

.wrapper {
  background-image: url('assets/images/testi.png?size=1600');
  background-position: 50%;
  background-size: cover;
  min-height: 70vh;
  overflow: hidden;

  @include media-breakpoint-down(xs) {
    height: 100vh;
  }

  .h2-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    height: 170px;

    @include media-breakpoint-down(xs) {
      height: 80px;
    }

    h2 {
      display: inline-block;
      text-align: center;
      width: 100%;
      margin: 0;
      font-size: 48px;
      color: #000000;
      letter-spacing: 2px;

      @include media-breakpoint-down(xs) {
        font-size: 24px;
      }
    }
  }

  .max-width{
    align-items: center;
    display: flex;
    flex-shrink: 0;
    flex-wrap: no-wrap;
    justify-content: center;
    margin:  0 auto 40px auto;
    max-width: 1440px;
  }

}
